@import 'mixins';
@import 'variables';

.chi {
  .a-close {
    & {
      background-color: transparent;
      border: 0rem solid transparent;
      color: set-color(grey, 60);
      cursor: pointer;
      padding: 0;
      transition: color 0.2s ease-in-out;
      -webkit-appearance: none;

      // &::after {
      //   background-image: url('../components/icons/svg/icon-x.svg');
      //   content: '';
      //   display: block;
      //   height: 0.75rem;
      //   position: relative;
      //   top: 0;
      //   width: 0.75rem;
      // }

      &:hover,
      &.-hover {
        color: set-color(grey, 90);
      }

      &:focus,
      &.-focus {
        color: set-color(grey, 90);
        outline: none;
      }

      &:active,
      &.-active {
        &,
        &:focus,
        &.-focus {
          color: set-color(grey, 90);
        }
      }
    }
  }
}
